*.pyc
*.log
*.bin
!embeddings/baomoi.model.bin

output/models/*
!output/models/vi-final/
test/*
notebooks/*
data/*
!data/imdb_clas/
!data/imdb_lm/
!data/aclImdb/

debug/OUTPUT_DIR_NAME/*
debug/.ipynb_checkpoints/*
debug/export-model/*
debug/multi_cased_L-12_H-768_A-12/*

resources/*